

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <pre>
Hello Admins,

We want to inform you that, ViewBag.s sent his note ViewBag.t for review. Please look at the notes and take required actions.

Regards,
Notes Marketplace
</pre>
    </div>
</body>
</html>
