@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <pre>
Hello viewbag.s,

We want to inform you that, your note viewbag.t has been removed from the portal.
Please find our remarks as below 
viewbag.r

Regards,
Notes Marketplace
</pre>
    </div>
</body>
</html>
