
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <pre>
Hello ViewBag.Byrnm,

We would like to inform you that, ViewBag.Slrnm Allows you to download a note.
Please login and see My Download tabs to download particular note.

Regards,
Notes Marketplace
</pre>
    
    </div>
</body>
</html>
