

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
<pre>
Hello viewbag.yourname

Thank you for signing up with us. Please click on below link to verify your email address and to do login.
<a  href="viewbag.Confirmation">Click Here</a>

Regards,
Notes Marketplace
</pre>
    </div>
</body>
</html>
