@media (min-width: 992px) and (max-width: 1299.97px){
    
    /*notes*/
    .w-note-details h6 {
        font-size: 15px;
        color: #6255a5;
        line-height: 26px;
        font-weight: 600;
    }
    .w-note-details p{
        font-size: 12px;
    }
    p.review {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991.97px){
    .w-note-details p{
        margin-top: 6px;
        font-size: 12px;
    }
    p.review {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}
@media (min-width: 576px) and (max-width: 767.97px){
    .w-note-details{
        width: 418px;
    }
    .w-note-details p{
        margin-top: 6px;
    }
    p.review {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .top-left-hading{
        text-align: center;
    }
    
}







@media (max-width: 575.97px){
    .w-note-details{
        width: 418px;
    }
    .w-note-details p{
        margin-top: 6px;
    }
    p.review {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .top-left-hading{
        text-align: center;
    }
}

@media (max-width: 450.97px){
    .w-note-details{
        width: auto;
    }
    .w-note-details p{
        margin-top: 6px;
    }
    p.review {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .top-left-hading{
        text-align: center;
    }
}


























