/*////////////////////////////////////////////////////////
                           home
////////////////////////////////////////////////////////*/

.w-banner {
    height: 620px;
    width: 100%;
    //background-color: blue;
    background-image: url('images/home/1.jpg');
    
}



























