.table thead th:nth-child(9), .table thead th:nth-child(10),.table thead th:nth-child(8), .table thead th:nth-child(6), .table thead th:nth-child(7){
    line-height: 18px;
    text-align-last: center;
} 
th:nth-child(1), th:nth-child(4), th:nth-child(5), th:nth-child(9), td:nth-child(1), td:nth-child(4), td:nth-child(5), td:nth-child(9){
    text-align: left;
}
td:nth-child(1), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10){
    text-align: center;
    color: #6255a5;
} 
td:nth-child(1){
    color: #333333;
}